@using Gemstar.BSPMS.Common.Tools;
@using Gemstar.BSPMS.Hotel.Services.Entities;
@using Gemstar.BSPMS.Hotel.Web.Models;
@{
    ViewBag.Title = "预订须知";

    var queryModel = ViewBag.commonQueryModel as CommonQueryModel;
    var gridId = queryModel == null ? "grid" : queryModel.GridControlId;
    var keyColumnName = "id";

    var gridViewModel = new KendoGridForDataRowViewModel
    {
        GridControlId = gridId,
        KeyColumnName = keyColumnName,
        ColumnConfigurator = c =>
        {
            c.Bound("name").Title("名称");
            c.Bound("remark").Title("预订须知内容");
        },
        CustomToolbar = c =>
        {
            c.Custom().Name("comfirmtext").Text("<span style='float:right;display:inline-block;color:red;margin-right:50px;padding-top:8px;'>双击可修改</span>").HtmlAttributes(new { id = "comfirmtext", href = "javascript:void(0);", style = "cursor:default;" });

        }
    };
}
@Html.Partial("_KendoGridDataRowView", gridViewModel)

@section scripts{
    @Html.Partial("_KendoGridEvents", gridViewModel)
    @Html.Partial("_KendoGridEditInWindow", gridViewModel)
}
<script type="text/javascript">
    $(function () {
        $("#comfirmtext").removeClass("k-button");

    });
</script>