@* 取消结账 *@
<!--取消结账选择已结批次窗口-->
<div id="folioCancelCheckoutBatchNoSelectWindow" style="display:none;">
    <div class="k-widget k-grid" role="grid" style="height:350px;overflow:auto;">
        <table role="grid">
            <thead class="k-grid-header" role="rowgroup">
                <tr role="row">
                    <th class="k-header">结账时间</th>
                    <th class="k-header">结账金额</th>
                    <th class="k-header">付款方式</th>
                    <th class="k-header">操作员</th>
                    <th class="k-header"></th>
                </tr>
            </thead>
            <tbody role="rowgroup">
            </tbody>
        </table>
    </div>
</div>