@model Gemstar.BSPMS.Hotel.Web.Models.Account.LoginViewModel

<!DOCTYPE html>
<html class="ui-page-login">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>

    <link href="~/Scripts/ScanOrder/mui/css/mui.min.css" rel="stylesheet" />
    <link href="~/Scripts/ScanOrder/mui/css/style.css" rel="stylesheet" />
    <style>

        .area {
            margin: 20px auto 0px auto;
        }

        .mui-input-group {
            margin-top: 10px;
        }

            .mui-input-group:first-child {
                margin-top: 20px;
            }

            .mui-input-group label {
                width: 22%;
            }

        .mui-input-row label ~ input,
        .mui-input-row label ~ select,
        .mui-input-row label ~ textarea {
            width: 78%;
        }

        .mui-checkbox input[type=checkbox],
        .mui-radio input[type=radio] {
            top: 6px;
        }

        .mui-content-padded {
            margin-top: 25px;
        }

        .mui-btn {
            padding: 10px;
        }

        .link-area {
            display: block;
            margin-top: 25px;
            text-align: center;
        }

        .spliter {
            color: #bbb;
            padding: 0px 8px;
        }

        .oauth-area {
            position: absolute;
            bottom: 20px;
            left: 0px;
            text-align: center;
            width: 100%;
            padding: 0px;
            margin: 0px;
        }

            .oauth-area .oauth-btn {
                display: inline-block;
                width: 50px;
                height: 50px;
                background-size: 30px 30px;
                background-position: center center;
                background-repeat: no-repeat;
                margin: 0px 20px;
                /*-webkit-filter: grayscale(100%); */
                border: solid 1px #ddd;
                border-radius: 25px;
            }

                .oauth-area .oauth-btn:active {
                    border: solid 1px #aaa;
                }

                .oauth-area .oauth-btn.disabled {
                    background-color: #ddd;
                }

        .k-eye .k-icon {
            margin-top: -15px;
        }
    </style>
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">登录</h1>
    </header>
    <div class="mui-content">
        @using (Html.BeginForm("Login", "Waiter", FormMethod.Post, new { @class = "mui-input-group" }))
        {
            <div class="mui-input-row">
                @Html.TextBoxFor(m => m.HotelId, new { @class = "lo-input-text", placeholder = "酒店代码" })
            </div>
            <div class="mui-input-row">
                @Html.TextBoxFor(m => m.Username, new { @class = "lo-input-text", placeholder = "登录名" })
            </div>
            <div class="mui-input-row">

                @Html.PasswordFor(m => m.Password, new { @class = "lo-input-password", placeholder = "登录密码" })
                <input type="text" id="PasswordMw" class="lo-input-password" style="display:none" />
                <a href="#" id="showPassword" class="k-icon k-eye-open" data-statu="1" data-password="Password" data-text="PasswordMw">&nbsp;</a>

            </div>


            <div class="mui-content-padded">

                <button id='login' type="submit" class="mui-btn mui-btn-block mui-btn-primary">登录</button>

            </div>
        }
        <div class="mui-content-padded oauth-area">
        </div>
    </div>
    <script src="~/Scripts/ScanOrder/mui/js/mui.min.js"></script>
   
    <script src="~/Scripts/ScanOrder/mui/js/mui.enterfocus.js"></script>
    <script src="~/Scripts/ScanOrder/mui/js/app.js"></script>

</body>
</html>
