

<header class="mui-bar mui-bar-nav">
    @*<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>*@
    <h1 class="mui-title">服务员</h1>
</header>

<div class="layout mui-content" style="height:calc(100% - 48px);">
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">Item 1 <span class="mui-badge"><input type="button" value="sd" /></span></li>
        <li class="mui-table-view-cell">Item 2</li>
        <li class="mui-table-view-cell">Item 3</li>
    </ul>
    <ul class="mui-table-view">


        <li class="mui-table-view-cell mui-media">

            <div class="mui-media-body">
                <div>ssssss</div>
                <div style="display:block; flex-flow:row nowrap; float:right ">
                    <a onclick="addQuantity(this)" class="addA">查看</a>
                </div>
            </div>
        </li>


    </ul>
</div>

