@model Gemstar.BSPMS.Hotel.Web.Models.Query.QueryViewModel
    <tr>
        <td class="textright">@Html.Label(string.Format("p{0}", Model.ParameterIndex), Model.ParameterName)</td>
        <td>@Html.Kendo().CheckBox().Name(string.Format("p{0}", Model.ParameterIndex)).Checked((bool)Model.CustomViewPara).HtmlAttributes(new { value = "1" })</td>
    </tr>

